<header class="page-header">
  <h1>ABOUT</h1>
</header>
<div class="intro">
      <p>
        Welcome to our online plant shop, where green dreams come to life! We are passionate about all things botanical and dedicated to spreading the joy of gardening and nurturing plants. As avid plant enthusiasts, we believe that every space, no matter how big or small, can be transformed into a lush and vibrant oasis.
      </p>
      <p>
        Our journey began with a simple love for plants, but it quickly blossomed into a full-fledged commitment to sharing our passion with fellow plant lovers. Our goal is to provide you with an extensive collection of premium, handpicked plants that are as unique as you are. From breathtaking blooms to lush foliage, we have carefully curated a diverse selection to cater to every individual's tastes and preferences.
      </p>
      <p>
        Join us on this botanical journey, and together, let's create a world where greenery thrives, and homes and hearts are filled with the beauty and serenity of nature. Thank you for choosing us as your trusted online plant shop!
      </p>
</div>